.DeveloperTag p {
  color: rgb(179, 179, 179);
  font-family: "Nunito", sans-serif;
  display: inline-block;
  position: relative;
  top: 40px;
  right: 125px;
  font-size: 12px;
}

.DeveloperTag a {
  color: #505f80;
  font-family: "Nunito", sans-serif;
  position: relative;
  top: 40px;
  right: 130px;
  font-size: 12px;
}

.DeveloperTag a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(52, 52, 102);
}
