.Forecast .bottom {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.Forecast .forecast {
  padding: 16px 0 0 0;
  text-align: center;
  font-size: 12px;
}

.Forecast .forecast-hours {
  color: #6d7888;
}

.Forecast .future-highlows {
  font-size: 10px;
  font-weight: 400;
  color: #6d7888;
}

.Forecast #forecast-icon {
  height: 42px;
  width: 42px;
  display: block;
  margin: 0 auto;
}
