.SearchForm .form-control {
  display: inline-block;
}

.SearchForm .form-group {
  margin: 0 auto;
}

.SearchForm input,
select,
#search-bar {
  text-align: center;
  color: lightslategrey;
  border: solid 2px;
}

.SearchForm #search-bar {
  border-radius: 12px;
  padding: 10px;
  width: 210px;
  border: 3px solid;
  background-color: transparent;
  position: relative;
  margin: 14px 0 2px 0px;
}

.SearchForm #search-bar:placeholder-shown {
  font-size: 12px;
  text-align: center;
}

.SearchForm #search-bar:focus {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.SearchForm #search-form {
  padding: 10px 0px 10px 42px;
}

.SearchForm #search-icon {
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #627186;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.SearchForm #search-icon:hover {
  background-color: lightsteelblue;
  border-radius: 25px;
}

.SearchForm input:focus::placeholder {
  color: transparent;
}
