.City h1 {
  text-align: center;
  display: block;
  padding: 10px 0 0 0;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2.5px;
  font-size: 46px;
  line-height: 60px;
}

.Weather .units {
  display: inline-block;
  font-size: 15px;
  padding-left: 5px;
  background: transparent;
  border: none;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
}

.Weather .units .active {
  color: black;
  cursor: default;
  font-weight: bolder;
}

.Weather .units .active:hover {
  text-decoration: none;
}

.Weather .CurrentDescription {
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  color: #6d7888;
  font-family: "Nunito", sans-serif;
}

.Weather .col {
  padding-left: 6px;
  position: relative;
  top: 20px;
  color: #96a1b1;
}

.CurrentWeather .CurrentDiv {
  display: inline-block;
}

.CurrentWeather #current-high,
#current-low {
  font-size: 12px;
  text-align: right;
  margin: 0 auto;
}

.Weather canvas {
  padding: 30px 180px 0 0;
}
.CurrentWeather .CurrentTemp {
  text-align: center;
  display: inline-block;
  padding: 0px 4px 10px 64px;
  font-size: 80px;
  line-height: 60px;
  float: left;
}

.CurrentWeather ul {
  list-style: none;
  text-align: left;
  padding: 0px;
  font-size: 12px;
}

.SearchForm .form-control {
  display: inline-block;
}

.SearchForm .form-group {
  margin: 0 auto;
}

.SearchForm input,
select,
#search-bar {
  text-align: center;
  color: lightslategrey;
  border: solid 2px;
}

.SearchForm #search-bar {
  border-radius: 12px;
  padding: 10px;
  width: 210px;
  border: 3px solid;
  background-color: transparent;
  position: relative;
  margin: 14px 0 2px 0px;
}

.SearchForm #search-bar:placeholder-shown {
  font-size: 16px;
  text-align: center;
}

.SearchForm #search-bar:focus {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.SearchForm #search-form {
  padding: 10px 0px 10px 42px;
}

.SearchForm #search-icon {
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #627186;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.SearchForm #search-icon:hover {
  background-color: lightsteelblue;
  border-radius: 25px;
}

.SearchForm input:focus::placeholder {
  color: transparent;
}

#divider-bottom,
#divider-top {
  background: grey;
  height: 2px;
  display: block;
  width: 100%;
}

#divider-bottom {
  margin: 35px 0px 6px 0px;
}

#divider-top {
  margin: 18px 0 0 0;
}
